body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    font-size: 32px;
    margin: 40px 0;
  }
  Copy code
.form-container {
  width: 500px;
  margin: 50px auto;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.message {
  font-size: 18px;
  margin-bottom: 20px;
  color: #777a77;
}
  
  form {
    display: inline-block;
    text-align: left;
    background-color: #f2f2f2;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px #ccc;
  }
  
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 1px #ccc;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #0099ff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 1px #ccc;
    transition: all 0.3s ease-in-out;
  }
   
  button[type="submit"] a {
    text-decoration: none;
    color: white;
  }
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  button[type="submit"]:hover {
    cursor: pointer;
    background-color: #33b5e5;
    transform: translateY(-2px);
    box-shadow: 0px 2px 2px #ccc;
  }
  p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  a {
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: rgb(81 81 255);
  }
  
  
  
  