#profile {
    width: 500px;
    margin: 0 auto;
    text-align: center;
  }
  
  .profile-details {
    padding: 20px;
  }
  #edit-profile-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 20px;
  }
  
  #edit-profile-btn:hover {
    background-color: #3e8e41;
  }
               /*                                                responsive                                 */
  @media only screen and (max-width: 767px) {
    #profile {
    width: 90%;
    margin: 0 auto;
    }
    }
    
    @media only screen and (max-width: 350px) {
    #profile {
    width: 95%;
    margin: 0 auto;
    }
    
    .profile-details {
    font-size: 14px;
    }
    
    #edit-profile-btn {
    font-size: 1em;
    padding: 8px 16px;
    }
    }
